h2{
    color: red;
}
span{
    color: rgb(180, 180, 54);
}
img{
    height: 200px;
    width: 400px;
    border: 2px black solid;
    border-radius: 20px;
}
#pets{
    display: flex;
    /* flex-direction: column; */
    justify-items: flex-start;
    justify-content: space-evenly;
}
.card{
    width: 350px;
    height: 500px;
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}
@media (max-width: 376px){
    #pets{
        flex-wrap: wrap;
    }
}